# Management network interface (not connected to ACI)
auto {{ mgmt_if_name }}
iface {{ mgmt_if_name }} inet static
    address {{ ansible_ssh_host }}
    netmask {{ mgmt_netmask }}

# Interface connected to ACI
auto {{ aci_if_name }}
iface {{ aci_if_name }} inet manual
    mtu {{ aci_if_mtu }}

# ACI Infra VLAN
auto {{ aci_if_name }}.{{ net_config.infra_vlan }}
iface {{ aci_if_name }}.{{ net_config.infra_vlan }} inet dhcp
    mtu {{ aci_if_mtu }}
    up route add -net 224.0.0.0/4 dev {{ aci_if_name }}.{{ net_config.infra_vlan }}
    vlan-raw-device {{ aci_if_name }}

# Node Vlan 
auto {{ aci_if_name }}.{{ net_config.kubeapi_vlan }}
iface {{ aci_if_name }}.{{ net_config.kubeapi_vlan }} inet static
    address {{ ip }} 
    netmask {{ net_config.node_subnet | ipaddr('netmask') }}
    mtu {{ aci_if_mtu }}
    vlan-raw-device {{aci_if_name}}
    up route add default gw {{ net_config.node_subnet | ipaddr('address')}}
